<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>sunfun - Dashboard</title>
<!-- Tell the browser to be responsive to screen width -->

<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- v4.1.3 -->
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

<!-- Theme style -->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="css/et-line-font/et-line-font.css">
<link rel="stylesheet" href="css/themify-icons/themify-icons.css">
<link rel="stylesheet" href="css/simple-lineicon/simple-line-icons.css">
<link rel="stylesheet" href="css/skins/_all-skins.min.css?v=1">
<!-- DataTables -->
<link rel="stylesheet" href="plugins/datatables/css/dataTables.bootstrap.min.css">
<!-- dropify -->
<link rel="stylesheet" href="plugins/dropify/dropify.min.css">
<!-- bootstrap-switch -->
<link rel="stylesheet" href="plugins/select2/css/select2.min.css">
<!-- selecr2 --->
<link href="../assets/node_modules/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
</head>
<body class="sidebar-mini skin-black-light">
<div class="wrapper boxed-wrapper">
  <header class="main-header"> 
    <!-- Logo --> 
    <a href="javascript:;" class="logo blue-bg"> 
    <!-- mini logo for sidebar mini 50x50 pixels --> 
    <span class="logo-mini"><img src="img/sss.png" alt=""></span> 
    <!-- logo for regular state and mobile devices --> 
    <span class="logo-lg"><img src="img/sun.png" alt=""></span> </a> 
    <!-- Header Navbar -->
    <nav class="navbar blue-bg navbar-static-top"> 
      <!-- Sidebar toggle button-->
      <ul class="nav navbar-nav pull-left">
        <li><a class="sidebar-toggle" data-toggle="push-menu" href="#"></a> </li>
      </ul>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar"> 
    <!-- sidebar -->
    <div class="sidebar"> 
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="info">
          <p><h1>sunfun</h1></p>
          <a href="#"><i class="fa fa-power-off fa-2x"></i></a> </div>
      </div>
      
      <!-- sidebar menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="active"> <a href="dashboard.html"> <i class="icon-home"></i> &nbsp; &nbsp; <span>Dashboard</span> <span class="pull-right-container"></span> </a>
        </li>
        <li class="treeview"> <a href="#"> <i class="fa fa-users"></i> &nbsp; &nbsp; <span>Vendors</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
          <ul class="treeview-menu">
            <li><a href="addvendor.html"><i class="fa fa-angle-right"></i>  &nbsp; Add Vendor</a></li>
            <li><a href="vendorlist.html"><i class="fa fa-angle-right"></i>  &nbsp; Vendor List</a></li>
          </ul>
        </li>
        <li class="treeview"> <a href="#"> <i class="fa fa-th-list"></i> &nbsp; &nbsp; <span>Catagories</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
          <ul class="treeview-menu">
            <li><a href="addcatagories.html"><i class="fa fa-angle-right"></i>  &nbsp; Add Catagories</a></li>
            <li><a href="catagorieslist.html"><i class="fa fa-angle-right"></i>  &nbsp; Catagories List</a></li>
          </ul>
        </li>
        <li class="treeview"> <a href="#"> <i class="fa fa-th-large"></i> &nbsp; &nbsp; <span>Catalog</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
          <ul class="treeview-menu">
            <li><a href="addcatalog.html"><i class="fa fa-angle-right"></i>  &nbsp; Add Catalog</a></li>
            <li><a href="cataloglist.html"><i class="fa fa-angle-right"></i>  &nbsp; Catalog List</a></li>
          </ul>
        </li>
        <li class="treeview"> <a href="#"> <i class="fa fa-table"></i> &nbsp; &nbsp; <span>Product</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
          <ul class="treeview-menu">
            <li><a href="addproduct.html"><i class="fa fa-angle-right"></i>  &nbsp; Add Product</a></li>
            <li><a href="productlist.html"><i class="fa fa-angle-right"></i>  &nbsp; Product List</a></li>
          </ul>
        </li>
        <li class="treeview"> <a href="#"> <i class="fa fa-rocket"></i> &nbsp; &nbsp; <span>Order</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
          <ul class="treeview-menu">
            <li><a href="addorder.html"><i class="fa fa-angle-right"></i>  &nbsp; Add Order</a></li>
            <li><a href="orderlist.html"><i class="fa fa-angle-right"></i>  &nbsp; Order List</a></li>
          </ul>
        </li>
        <li class="treeview"> <a href="#"> <i class="fa fa-list-alt"></i> &nbsp; &nbsp; <span>Banner</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
          <ul class="treeview-menu">
            <li><a href="addbanner.html"><i class="fa fa-angle-right"></i>  &nbsp; Add Banner</a></li>
            <li><a href="bannerlist.html"><i class="fa fa-angle-right"></i>  &nbsp; Banner List</a></li>
          </ul>
        </li>
        <li class="treeview"> <a href="#"> <i class="fa fa-users"></i> &nbsp; &nbsp; <span>Reseller</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
          <ul class="treeview-menu">
            <li><a href="addreseller.html"><i class="fa fa-angle-right"></i>  &nbsp; Add Reseller</a></li>
            <li><a href="resellerlist.html"><i class="fa fa-angle-right"></i>  &nbsp; Reseller List</a></li>
          </ul>
        </li>
        <li> <a href="addaddress.html"> <i class="fa fa-map-marker"></i> &nbsp; &nbsp; <span>Add Address</span> <span class="pull-right-container"></span> </a>
        </li>
        <li> <a href="addsender.html"> <i class="fa fa-paper-plane"></i> &nbsp; &nbsp; <span>Add Sender</span> <span class="pull-right-container"></span> </a>
        </li>
      </ul>
    </div>
    <!-- /.sidebar --> 
  </aside>
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper"> 
    <!-- Main content -->
    <div class="content">
      <div class="row">
        <div class="col-lg-4">
          <div class="user-profile-box m-b-3">
            <div class="box-profile text-white"> <img class="profile-user-img img-responsive img-circle m-b-2" src="img/img1.jpg" alt="User profile picture">
              <h3 class="profile-username text-center">vendor name</h3>
              <p class="text-center">© username</p>
            </div>
          </div>
          <div class="card m-b-3">
            <div class="card-body">
              <div class="box-body"> 
                <strong><i class="fa fa-map-marker margin-r-5"></i> Address</strong>
                <p class="text-muted">Malibu, California</p>
                <br>
                <strong><i class="fa fa-envelope margin-r-5"></i> Email address </strong>
                <p class="text-muted">alexanderpierce@gmail.com</p>
                <br>
                <strong><i class="fa fa-phone margin-r-5"></i> Phone</strong>
                <p>(123) 456-7890 </p>
              </div>
              <!-- /.box-body --> 
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="info-box">
            <div class="card tab-style1"> 
              <!-- Nav tabs -->
              <ul class="nav nav-tabs profile-tab" role="tablist">
                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#settings" role="tab">Settings</a> </li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane active" id="settings" role="tabpanel">
                  <div class="card-body">
                    <form class="form-horizontal form-material">
                      <div class="form-group">
                        <label class="col-md-12">Name *</label>
                        <div class="col-md-12">
                          <input placeholder="" class="form-control form-control-line" type="text">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="example-email" class="col-md-12">Email *</label>
                        <div class="col-md-12">
                          <input placeholder="" class="form-control form-control-line" name="example-email" id="example-email" type="email">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-12">Password *</label>
                        <div class="col-md-12">
                          <input value="" class="form-control form-control-line" type="password">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-12">Account No *</label>
                        <div class="col-md-12">
                          <input placeholder="" class="form-control form-control-line" type="text">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-12">IFSC Code *</label>
                        <div class="col-md-12">
                          <input placeholder="" class="form-control form-control-line" type="text">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-12">Phone No *</label>
                        <div class="col-md-12">
                          <input placeholder="123 456 7890" class="form-control form-control-line" type="text">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-12">Address *</label>
                        <div class="col-md-12">
                          <textarea rows="5" class="form-control form-control-line"></textarea>
                        </div>
                      </div>
                      
                      <div class="form-group">
                        <label class="col-md-12">Profile *</label>
                        <div class="col-md-12">
                          <input type="file" id="input-file-now" class="dropify" />
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-12">
                          <button class="btn btn-success">Update Profile</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Main row --> 
    </div>
    <!-- /.content --> 
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">Version 1.0</div>
    Copyright © 2018 SunFashion. All rights reserved.</footer>
</div>
<!-- ./wrapper --> 

<!-- jQuery 3 --> 
<script src="js/jquery.min.js"></script>  
<script src="bootstrap/js/bootstrap.min.js"></script> 

<!-- template --> 
<script src="js/bizadmin.js"></script> 

<!-- Jquery Sparklines --> 
<script src="plugins/jquery-sparklines/jquery.sparkline.min.js"></script> 
<script src="plugins/jquery-sparklines/sparkline-int.js"></script> 
<!-- DataTable --> 
<script src="plugins/datatables/jquery.dataTables.min.js"></script> 
<script src="plugins/datatables/dataTables.bootstrap.min.js"></script> 
<script>
  $(function () {
    $('#example1').DataTable()
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
</script>
<script src="plugins/table-expo/filesaver.min.js"></script>
<script src="plugins/table-expo/xls.core.min.js"></script>
<script src="plugins/table-expo/tableexport.js"></script>
<script>
$("table").tableExport({formats: ["xlsx","xls", "csv", "txt"],    });
</script>

<!-- dropify --> 
<script src="plugins/dropify/dropify.min.js"></script> 
<script>
  $(document).ready(function(){
  // Basic
  $('.dropify').dropify();

  // Translated
   $('.dropify-fr').dropify({
                    messages: {
                        default: 'Glissez-déposez un fichier ici ou cliquez',
                        replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                        remove:  'Supprimer',
                        error:   'Désolé, le fichier trop volumineux'
                    }
                });

                // Used events
                var drEvent = $('#input-file-events').dropify();

                drEvent.on('dropify.beforeClear', function(event, element){
                    return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
                });

                drEvent.on('dropify.afterClear', function(event, element){
                    alert('File deleted');
                });

                drEvent.on('dropify.errors', function(event, element){
                    console.log('Has Errors');
                });

                var drDestroy = $('#input-file-to-destroy').dropify();
                drDestroy = drDestroy.data('dropify')
                $('#toggleDropify').on('click', function(e){
                    e.preventDefault();
                    if (drDestroy.isDropified()) {
                        drDestroy.destroy();
                    } else {
                        drDestroy.init();
                    }
                })
    });
</script>

<!-- bootstrap-switch --> 
<script src="plugins/bootstrap-switch/bootstrap-switch.js"></script> 
<script src="plugins/bootstrap-switch/highlight.js"></script> 
<script src="plugins/bootstrap-switch/main.js"></script>

<!-- select 2 --->
<script src="plugins/select2/js/select2.full.min.js"></script>
<script>
    jQuery(document).ready(function() {
        // Switchery
        var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
        $('.js-switch').each(function() {
            new Switchery($(this)[0], $(this).data());
        });
        // For select 2
        $(".select2").select2();
        $('.selectpicker').selectpicker();
        //Bootstrap-TouchSpin
        $(".vertical-spin").TouchSpin({
            verticalbuttons: true,
            verticalupclass: 'ti-plus',
            verticaldownclass: 'ti-minus'
        });
        var vspinTrue = $(".vertical-spin").TouchSpin({
            verticalbuttons: true
        });
        if (vspinTrue) {
            $('.vertical-spin').prev('.bootstrap-touchspin-prefix').remove();
        }
        $("input[name='tch1']").TouchSpin({
            min: 0,
            max: 100,
            step: 0.1,
            decimals: 2,
            boostat: 5,
            maxboostedstep: 10,
            postfix: '%'
        });
        $("input[name='tch2']").TouchSpin({
            min: -1000000000,
            max: 1000000000,
            stepinterval: 50,
            maxboostedstep: 10000000,
            prefix: '$'
        });
        $("input[name='tch3']").TouchSpin();
        $("input[name='tch3_22']").TouchSpin({
            initval: 40
        });
        $("input[name='tch5']").TouchSpin({
            prefix: "pre",
            postfix: "post"
        });
        // For multiselect
        $('#pre-selected-options').multiSelect();
        $('#optgroup').multiSelect({
            selectableOptgroup: true
        });
        $('#public-methods').multiSelect();
        $('#select-all').click(function() {
            $('#public-methods').multiSelect('select_all');
            return false;
        });
        $('#deselect-all').click(function() {
            $('#public-methods').multiSelect('deselect_all');
            return false;
        });
        $('#refresh').on('click', function() {
            $('#public-methods').multiSelect('refresh');
            return false;
        });
        $('#add-option').on('click', function() {
            $('#public-methods').multiSelect('addOption', {
                value: 42,
                text: 'test 42',
                index: 0
            });
            return false;
        });
        $(".ajax").select2({
            ajax: {
                url: "https://api.github.com/search/repositories",
                dataType: 'json',
                delay: 250,
                data: function(params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function(data, params) {
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;
                    return {
                        results: data.items,
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            },
            escapeMarkup: function(markup) {
                return markup;
            }, // let our custom formatter work
            minimumInputLength: 1,
            // templateResult: formatRepo, // omitted for brevity, see the source of this page
            //templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
        });
    });
</script>
</body>
</html>
